@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

body,
html {
    overflow-y: visible;
    overflow-x: hidden;

}

body::-webkit-scrollbar {
    width: 12px;
    /* largura da barra lateral */
}

body::-webkit-scrollbar-thumb {
    background-color: #212529;
    /* cor da barra lateral*/
    border-radius: 15px;
    /* redondeza da borda*/

}

* {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
    text-transform: uppercase;
}

.linha {
    width: 85vw;
    margin: 1rem auto 0 auto;
}

.bgCinza {
    background-color: #EEEEEE;
}

.bgLaranja {
    background-color: #F17400;
}

.titulo {
    margin: 3rem 0;
    text-transform: uppercase;
}

.tituloBranco {
    margin: 3rem 0 1.5rem 0;
    text-transform: uppercase;
    color: #fff;
}

#tituloBranco {
    text-transform: uppercase;
    color: #fff;
}

.tituloNb {
    margin: 3rem 0 0 0;
    text-transform: uppercase;
}

.button-box {
    text-align: center;
}

.btn-outline-dark {
    border: #212529 solid 1px;
    font-weight: 500;
    justify-content: flex-end;
}

.btn-dark {
    border: #212529 solid 1px;
    font-weight: 400;
}

.btmSpace {
    margin-bottom: 3rem;
}


@media only screen and (max-width: 1025px) {
    .topSpace {
        margin-top: 2vh;
        margin-left: 12.5vh
    }
    .botaoVenda{
        margin-top: 2vh;
    }
}

/* navbar */

.bg-nav-autoshop {
    background-color: #212529;
}

a.nav-link {
    color: #fff;
    font-weight: 600;
}

a.nav-link:hover {
    color: #F17400;
}

.icofont-navigation-menu {
    color: #F17400;
}

a.navbar-brand {
    
}

@media only screen and (max-width: 1025px) {
    a.navbar-brand {
        padding: 0;
    }
}

/* barra pesquisa home */

input.pesquisar {
    border-radius: 0.375rem;
    padding: 0.375rem 0.75rem 0.375rem 0.75rem;
    border: 1px solid #191717;
    display: inline-block;
}

/* cards */

/* Home e Estoque */
.card {

    display: inline-block;
    overflow: hidden;
}

/* Home */

.preco {
    color: #F17400;
    font-size: 18px;
    font-weight: bold;
}

.descricao {
    font-size: 14px;
    font-weight: lighter;
    display: block;
}

/* cabeçalho estoque */

.cabecalho-estoque h1 {
    margin: 15px;
    margin-left: 1vh; 
    margin-top: 7vh
}

.cabecalho-estoque button {
    width: 120px;
    margin: 0 10px;
    font-weight: bold;
    font-size: 15px;
}

@media (max-width: 800px) {
    .cabecalho-estoque {
        display: flex;
        flex-flow: column;
        flex-direction: column;
        width: 100%;
        

    }

    .cabecalho-estoque h1 {
        margin-left: 13vh;
        margin-top: 6vh
    }

    .cabecalho-estoque button {
        margin: 5px 0;
        margin-left: 14.5vh;
        ;
    }

    #pesquisa {
        width: 75%;
        margin-left: 0vh;
        margin-bottom: 5px;
    }
    #pesquisaEstoque {
        width: 75%;
        margin-left: 5vh;
        margin-bottom: 5px;
    }
}

@media (min-width: 901px) {
    .cabecalho-estoque button {
        width: 120px;
        margin: 0 10px;
        font-weight: bold;
        font-size: 15px;
    }

    .cabecalho-estoque {
        margin-left: 0%;
    }
}


.cabecalho-estoque input {
    height: 36px;
    width: 25%;
    border-radius: 0.375rem;
    padding: 0.75rem;
    margin-left: 1.1vh;
    border: 1px solid black;
}

/* filtro cabeçalho estoque */
@media (min-width: 901px) {
    #filtros-collapse .card {
        width: 100%;
        border: 1px solid black;
        margin: 10px 0;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        flex-flow: row wrap;
    }
}

@media (max-width: 900px) {
    #filtros-collapse .card {
        width: 100%;
    }
}

#filtros-collapse .card div {
    width: 180px;
    margin: 5px 0;
}

#filtros-collapse .card button {
    height: 36px;
    align-self: center;
}

.input-filtro {
    width: 80px;
    display: block;
    border: 1px solid black;
    border-radius: 5px;
}

#estoque {
    margin: 10px 0;
}

#paginacao {
    display: flex;
    justify-content: center;
}

#paginacao a{
    font-size: 20px;
    text-decoration: none;
}

#liveAlertPlaceholder {
    margin: 10px 0;
}

/*Sobre*/
.sobreNos {
   padding-top: 2vh !important;
}

/*Footer*/
@media only screen and (max-width: 1025px) {
    .img-fluid {
        padding-top: 2vh;
        margin-right: 2vh ;
    }

    .whatslogo {
        padding-top: 10vh ;
        width: 10vh ;
        margin-left: 1vh !important;
    }
}
@media (max-width: 600px) {
    .img-fluid {
        margin-top: 1vh !important;
        margin-right: 2vh ;
    }

    .whatslogo {
        padding-top: 1vh !important;
        padding-bottom: 1vh;
        width: 10vh;
        margin-left: 14vh;
    }
}
.img-fluid {
    margin-top: 10vh;
    margin-left: 15px;
    max-width: 80% !important
}

.whatslogo {
    padding-top: 5vh;
    margin-left: 15vh;
    margin-bottom: 1vh;
    width: 11vh
}

.tituloFooter {
    font-family: 'Montserrat', sans-serif;

}

.icone {
    font-size: 30px;
    color: #F17400;
    padding: 2px;
    transition: all 0.5s;

}